<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Set User</h1>
    <% if (users.length > 0) { %>
        <form action="/user/set" method="POST">
            <div>
                <label>User</label>
                <select name="userId">
                    <% users.forEach(user => { %>
                        <option value="<%= user.id %>"><%= user.login %></option>
                    <% }); %>
                </select>
            </div>
            <button type="submit">Set user</button>
        </form>
    <% } else { %>
        <p>Sorry, no users has been found.</p>
    <% } %>
    <a href="/">Back to Home</a>
</body>
</html>
